<div class="form-slide">
  <div class="question-form-wrap-step3">
    <div class="question-form-header">
      <p class= "text-color-blue text-weight-semibold text-style-allcaps text-size-small">Question 3 / 10</p>
      <div class="question-form-title">
        <h2 class="heading-style-h4">Build your family</h2>
        <p>Fill in the information for each child and add them to your list</p>
      </div>
    </div>

    <div class="form">
        <%= simple_form_for @child do |f| %>
          <div class="form-step3 d-flex flex-row justify-content-around gap-input">
            <div><%= f.input :first_name, label: false, placeholder: "First name", class: "input-field-step3" %></div>
            <div><%= f.input :last_name, label: false, placeholder: "Last name", class: "input-field-step3" %></div>
            <div><%= f.input :gender, collection: ["Male", "Female"], label: false, placeholder: "Gender", class: "input-field-step3" %></div>
            <div><%= f.input :age_range, collection: ["Baby", "Toddler", "Child", "Teenager"], label: false, placeholder: "Age range", class: "input-field-step3" %></div>
            <div><%= f.submit "Add to family +", class: "button-form"%></div>
          </div>
        <% end %>


      <div class="d-flex w-100 justify-content-around mt-3">
        <% if @user.children.empty? %>
          <div class="children-placeholder">
            <div class="children-placeholder-text">
              <h2 class="heading-style-h4 text-color-blue">Your family is empty</h2>
              <p class="text-color-blue">Add a new child to your list</p>
            </div>
          </div>
        <% else %>
          <div class="children-placeholder">
            <div class="children-wrapper">
              <% @user.children.each do |child| %>
                <div class="child-card position-relative">
                  <p>First name : <span class="text-color-blue text-weight-semibold"><%= child.first_name %></span></p>
                  <p>Last name : <span class="text-color-blue text-weight-semibold"><%= child.last_name %></span></p>
                  <p>Gender : <span class="text-color-blue text-weight-semibold"><%= child.gender %></span></p>
                  <p>Age range : <span class="text-color-blue text-weight-semibold"><%= child.age_range %></span></p>
                  <%= link_to child_path(child), data: { turbo_method: :delete } do %>
                    <i class="fa-solid fa-trash button-form button-form-icon position-absolute"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

   <div class="form-navigation">
    <div class="container">
      <div class="form-navigation-layout">
          <%= link_to "Previous", "/user_intake/personal_informations/new", :class => "button-secondary" %>
          <%= link_to "Next", "/user_intake/user_shifts/new", :class => "button-primary margin-left-auto" %>
      </div>
    </div>
  </div>
</div>
