<div class="form-slide">
  <div class="question-form-wrap-step3">
    <div class="question-form-header">
      <p class= "text-color-blue text-weight-semibold text-style-allcaps text-size-small">Question 7 / 10</p>
      <div class="question-form-title">
        <h2 class="heading-style-h4">What kind of flat do you need ?</h2>
        <p>Please select how many rooms you need. Does your home need to be furnished or not ?</p>
      </div>
    </div>

    <div class="form step4-wrapper d-flex flex-row">
      <div data-controller="rooms" class="room-card">
          <%= simple_form_for @flat do |f| %>
            <div class='d-none'><%= f.input :rooms, input_html: { value: 1, data: {rooms_target:'room'}, readonly: true}, label: false %></div>
            <div class="room-wrapper d-flex flex-row justify-content-between align-items-center">
              <button type="button" class="incrementation-btn" data-action="click->rooms#decrement">-</button>
              <div data-rooms-target="display" class="room-input" >1</div>
              <button type="button" class="incrementation-btn" data-action="click->rooms#increment">+</button>
            </div>
            <h4 data-rooms-target="count" class="incrementation-text">room</h4>
      </div>

      <div class="furnish-wrapper">
        <div class="furnished">
          <%= f.input :is_furnished %>
        </div>

        <div class="unfurnished">
          <%= f.input :is_furnished %>
        </div>
      </div>
    </div>
  </div>

   <div class="form-navigation">
    <div class="container">
      <div class="form-navigation-layout">
        <div><%= link_to "Previous", "/user_intake/personal_informations/new", :class => "button-secondary margin-left-auto" %></div>
        <div>
          <%= link_to "/perks/new" do %>
            <%= f.submit "Next", class: "button-primary margin-left-auto" %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
        <% end %>
</div>
