<% content_for :meta_title, "Your messages" %>
<div class="padding-section-large">
  <div class="container chatroom-list">
    <h1 class="mb-5">Inbox</h1>
    <div class="row" data-controller="chatroom-index">
      <!-- Inbox List Column -->
      <div class="col-md-6 mb-5" >
        <% @couples.each do |couple| %>
          <div class="col-12 mb-3">
            <%= link_to chatroom_path(couple.chatroom), class: "chatroom-link d-flex align-items-center p-3 shadow-sm rounded", data: { action:"click->chatroom-index#display" } do %>
              <div class="avatar-container me-3">
                <% if couple.first_profile.user == current_user %>
                  <%= image_tag(couple.second_profile.user.avatar_url_safe, class: "avatar") %>
                <% else %>
                  <%= image_tag(couple.first_profile.user.avatar_url_safe, class: "avatar") %>
                <% end %>
              </div>
              <div class="chatroom-info" >
                <h5 class="chatroom-title mb-1">
                  <% if couple.first_profile.user == current_user %>
                    <%= couple.second_profile.user.first_name %>
                  <% else %>
                    <%= couple.first_profile.user.first_name %>
                  <% end %>
                </h5>
                <p class="chatroom-last-message text-muted mb-0">
                  <%= @last_messages[couple.chatroom.id][:content] %>
                </p>
              </div>
              <div class="text-muted ml-auto">
                <div class="last-message-time">
                  <span class="d-block"><%= @last_messages[couple.chatroom.id][:created_at].strftime("%Y-%m-%d") %></span>
                  <span><%= @last_messages[couple.chatroom.id][:created_at].strftime("%H:%M:%S") %></span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>


      <div class="col-md-6" >

          <div data-chatroom-index-target="chatroom">
          </div>
      </div>
    </div>
  </div>
</div>
