
<div class="padding-section-large">
    <div class="container">
  <h1><%= @users.count %> profils similaires</h1>
      <div class="layout mt-5">
        <div class="row">
          <% @users.each do |user| %>
            <div class="col-lg-3 col-md-4 col-sm-6 my-3">
              <div class="card h-100">
                <div class="card-img-top" style="background-image: url('<%= user.avatar_url.present? ? user.avatar_url : 'path/to/placeholder-image.jpg' %>'); background-size: cover; background-position: center; height: 200px; position: relative;">
                  <span class="badge badge-light position-absolute top-10 start-10">Semaine</span>
                  <a href="#" class="favorite-icon position-absolute top-10 end-10"><i class="far fa-heart"></i></a>
                </div>
                  <div class="card-body">
                    <div class="card-body-top">
                    <h5 class="card-title"><%= link_to user.first_name, user_path(user), class: "text-decoration-none text-reset" %></h5>
                    <p class="card-price"><%= number_to_currency(user.min_budget || 750, unit: "€") %>/mois</p>
                    </div>
                  <p class="card-text"><%= pluralize(user.children.count, 'enfant') %></p>
                  <p class="card-text">Occupe le bien les semaines impaires</p>
                  <div class="tags">
                    <% user.profile_researches.first&.flat&.flat_perks&.each do |flat_perk| %>
                      <span class="badge badge-secondary"><%= flat_perk.perk.name %></span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
