<h1>Users#show</h1>
<div class="container">
<div class="banner">
  <div class="container d-flex">
    <div class="avatar-img">
      <% if @user.avatar_url? %>
          <img class="profil-picture" src="<%= @user.avatar_url %>" alt="<%= @user.first_name %>">
      <% end %>
    </div>
    <div class="user-name">
      <h1><%= @user.first_name %></h1>
    </div>
    <div class="d-flex flex-wrap">
    <div class="tag-rythm">
      <span><%= @user.rythm %></span>
    </div>
    <div class="tag-rythm">
      <span><%= @user.alternance %></span>
    </div>
    </div>
  </div>
</div>

<div class="user-description">
  <div class="container d-flex flex-wrap">
    <div class="col">
      <div class="row">
      <h3>My description</h3>
        <%= @user.long_description %>


      <div class="budget">
        <%= @user.min_budget%>
        <span> - </span>
        <%= @user.max_budget%>
        <span> € </span>
      </div>


      </div>
  </div>

    <div class="col">
      <div class="row">
      <div class="children-user">
        <h3>My children</h3>
        <ul>
        <div class="d-flex flex-wrap">
        <% @children.each do |child|  %>
          <li class="child"><%= child.first_name %></li>
        <% end %>
        </div>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>

  <div class="user-profil">
    <div class="d-flex">
      <div class="col">
        <div class="row">
          <div class="map-location">
          <h3>My searching location</h3>
          </div>
        </div>
      </div>

  <div class="col">
  <div class="personnality-section">
    <div class="row">
      <h3>My personality</h3>
  </div>

       <div class="row">
       <div class="personnality-tag">
       <div class="d-flex">
      <h4>Cleanliness</h4>
        <% if @user.cleanliness == '3'%>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%elsif @user.cleanliness == '2' %>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%else  %>
          <i class="fa-solid fa-star icon"></i>
        <%end %>
       </div>
       </div>
      </div>

      <div class="row">
       <div class="personnality-tag">
       <div class="d-flex">
      <h4>Lifestyle</h4>
        <% if @user.lifestyle == '3'%>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%elsif @user.lifestyle == '2' %>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%else  %>
          <i class="fa-solid fa-star icon"></i>
        <%end %>
       </div>
       </div>
      </div>

        <div class="row">
       <div class="personnality-tag">
       <div class="d-flex">
      <h4>Sharing</h4>
        <% if @user.sharing == '3'%>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%elsif @user.sharing == '2' %>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%else  %>
          <i class="fa-solid fa-star icon"></i>
        <%end %>
       </div>
       </div>
      </div>

     <div class="row">
       <div class="personnality-tag">
       <div class="d-flex">
      <h4>Cooking</h4>
        <% if @user.cooking == '3'%>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%elsif @user.cooking == '2' %>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%else  %>
          <i class="fa-solid fa-star icon"></i>
        <%end %>
       </div>
       </div>
      </div>

       <div class="row">
       <div class="personnality-tag">
       <div class="d-flex">
      <h4>Storage</h4>
        <% if @user.storage == '3'%>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%elsif @user.storage == '2' %>
          <i class="fa-solid fa-star icon"></i>
          <i class="fa-solid fa-star icon"></i>
        <%else  %>
          <i class="fa-solid fa-star icon"></i>
        <%end %>
       </div>
       </div>
      </div>
     </div>
    </div>
    </div>
    </div>
  </div>
</div>

<div class="container d-flex flex-wrap">
    <div class="ideal-flat">
  <div class="d-flex">
      <div class="col">
        <div class="row">
      <h4>My ideal flat</h4>
      <%if @flat.style == "scandinavian" %>
        <img src="https://images.unsplash.com/photo-1605774337664-7a846e9cdf17?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="scandinavian style">
      <%elsif @flat.style == "industrial" %>
        <img src="https://images.unsplash.com/photo-1563891315366-4606cd73a33f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="indutrial style">
      <%elsif @flat.style == "boheme" %>
        <img src="https://images.unsplash.com/photo-1600493504591-aa1849716b36?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="boheme style">
      <%elsif @flat.style == "vintage" %>
        <img src="https://images.unsplash.com/photo-1604314325417-c021aacfc1c5?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="vintage style">
      <%elsif @flat.style == "art deco" %>
        <img src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?q=80&w=3058&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="art deco style">
      <%else%>
        <img src="https://images.unsplash.com/photo-1570747408017-38b4c5959378?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="art deco style">
      <%end %>
      <span><%= @flat.style%></span>
      </div>
    </div>


    <div class="col">
      <div class="row">
    <div class="container d-flex">
      <div class="number-room">
      <p>Number of room : <%= @flat.rooms %></p>
      </div>
      <div class="furnished-flat d-flex">
      <div class="furnished-title">
      <p>My ideal flat is furnished : </p>
      </div>
     <div class="response-furnished">
      <%if @flat.is_furnished = 'true' %>
        <p>Yes</p>
      <%elsif @flat.is_furnished = 'false' %>
        <p>No</p>
      <%else%>
        <p>No opinion</p>
      <%end %>
     </div>

      </div>
      </div>
    </div>


      <div class="row">
     <% if @perks.any? %>
    <ul>
      <div class="d-flex flex-wrap">
    <% @perks.each do |perk| %>
    <% if perk.status == 'positive' %>
    <div class="positive-color perk">
      <li><%= perk.name.capitalize %></li>
    </div>
    <%else%>
     <div class="negative-color perk">
      <li><%= perk.name.capitalize %></li>
    </div>
    <%end %>
    <% end %>
      </div>
    <% end %>
      </div>
      </div>
    </div>
    </div>
</div>
  </div>
</div>
</div>
<p>Find me in app/views/users/show.html.erb</p>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure you want to delete this user?' } %>
<br>
<%= link_to 'Back', users_path %>

</div>
