<div class="nav">
  <div class="container">
    <div class="nav-layout">
      <%= link_to "/" do %>
        <%= image_tag "logo_corent.svg", alt: "Corent logo" %>
      <% end %>
      <div class="button-group">
        <% if user_signed_in? %>
          <%= link_to "Find my co-parent", "/form", :class => "button-primary" %>
          <%= link_to "My dashboard", "/dashboard", :class => "button-text" %>
        <% else %>
          <%= link_to "Find my co-parent", "/form", :class => "button-primary" %>
          <%= link_to "Login", "/users/sign_in", :class => "button-secondary" %>
          <%= image_tag "https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt: "Corent logo", :class => "avatar" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
