<div class="form-slide">
  <div class="question-form-wrap">
    <div class="question-form-header">
      <p class= "text-color-blue text-weight-semibold text-style-allcaps text-size-small">Question 8 / 10</p>
      <div class="question-form-title">
        <h2 class="heading-style-h4">What’s your ideal flat like?</h2>
        <p>Let other parents know whare are your mush have and deal breakers</p>
      </div>
    </div>
    <%= simple_form_for @flat_perk, html: { class: 'form' }, data: { turbo: false } do |f| %>

    <div class="form-perk-wrap">
      <div class="perk-checkbox-wrap positive">
          <div class="perk-checkbox-title-wrap">
            <h6 class="heading-style-h6">Must haves</h6>
            <div class="perk-checkbox-bulle background-color-main">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4051 5.41857L7.18502 13.6387L2.59521 9.0489L3.65587 7.98824L7.18502 11.5174L14.3445 4.35791L15.4051 5.41857Z" fill="white"/>
              </svg>
            </div>
            <p>Please select <span class="text-weight-medium font-color-black">3 items</span></p>
          </div>
          <%= f.input :perk, collection: @good_perks, as: :check_boxes %>
      </div>
       <div class="perk-checkbox-wrap negative">
          <div class="perk-checkbox-title-wrap">
            <h6 class="heading-style-h6">Deal breakers</h6>
            <div class="perk-checkbox-bulle background-color-tangerine">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.99965 7.93899L4.22668 3.16602L3.16602 4.22668L7.93899 8.99965L3.16602 13.7726L4.22668 14.8333L8.99965 10.0603L13.7726 14.8333L14.8333 13.7726L10.0603 8.99965L14.8333 4.22668L13.7726 3.16602L8.99965 7.93899Z" fill="white"/>
              </svg>
            </div>
            <p>Please select <span class="text-weight-medium font-color-black">3 items</span></p>
          </div>

      <div class="perk-checkbox-wrap">

          <%= f.input :perk, collection: @bad_perks, as: :check_boxes %>
      </div>
      </div>
    </div>
    <div class="position-between">
      <%= link_to "Previous", new_flat_intake_rooms_furnished_path, :class => "form-previous-button-step8 button-secondary" %>
      <%=  f.submit "Next", class: "form-next-button-step8" %>
    </div>
    <% end %>
  </div>
</div>
