<div class="hero-wrap">
  <div class="container">
    <div class="home-hero-layout">
      <div class="home-hero-content">
        <div class="home-hero-header">
          <h1 class="heading-style-h1 font-color-white max-width-416">
            Find the perfect <span class="home-hero-span">invisible</span><span class="flatmate">flatmate</span>
          </h1>
          <p class="text-size-medium font-color-grey-1 text-weight-regular">
            Easily find a CoRenter to share housing costs for long-term contracts and get closer to your children
          </p>
          <%= form_with url: users_path, method: :get do %>
            <div class="search-wrapper is-hero">
              <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value=<%= ENV["MAPBOX_API_KEY"] %>>
                <%= text_field_tag :location, params[:location], data: {address_autocomplete_target: "location"}, class: "form-control custom-input d-none", placeholder: "Paris, France" %>
              </div>
              <%= select_tag(:alternance, options_for_select([['Select a rythm', ''],['Even weeks', 'even'], ['Odd weeks', 'odd']], params[:alternance]), placeholder: "Even / Odd", class: "form-control custom-input alternance") %>
              <%= submit_tag "Find a CoRenter", class: "button-primary is-tiffany" %>
              <img src="<%= asset_path('hero-arrow.svg') %>" alt="" class="hero-arrow">
              <p class="hero-p">Find your CoRenter!</p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="hero-img-frame">
        <div class="hero-img-height">
          <img src="<%= asset_path('hero-img-2.jpg') %>" alt="" class="absolute-img border-radius-12">
          <img src="" alt="" class="hero-ui-left">
          <img src="<%= asset_path('hero-ui-right.svg') %>" alt="hero-ui-right" class="hero-ui-right">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-detail-wrap">
  <div class="container">
    <div class="home-detail-layout is-1">
      <div class="text-card">
        <h2 class="text-color-blue">Long-term Part-time renting</h2>
        <p>Mary lives in Bordeaux but shares custody of her children in Paris. She needs a flat there on even weeks. Recently divorced, Kate plans to leave Paris to go back to Rouen next to her family but cannot afford two houses. She has custody of her kids on odd weeks. Thanks to CoRent, Mary and Kate will be able to meet and rent a flat together to live there alternately.</p>
        <div class="button-primary">Find a CoRenter</div>
      </div>
      <div class="detail-img-wrap">
        <img src="<%= asset_path('detail-img-1.png') %>" alt="corenting_contract" class="home-detail-img">
      </div>
    </div>
    <div class="home-detail-layout">
      <div class="detail-img-wrap">
        <img src="<%= asset_path('detail-img-2.png') %>" alt="corenting_contract" class="home-detail-img">
      </div>
      <div class="text-card">
        <h2 class="text-color-blue">Find the best Co-Renter</h2>
        <p>You don't want your alternating colocation to end up like your marriage. That is why CoRent enables you to find someone who has similar habits and matching needs. Maniac or laid-back? How much storage do you need? Want to share food or toys? Birds of a feather flock together.</p>
        <div class="button-primary">Find a CoRenter</div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
