<div class="form-slide">
  <div class="question-form-wrap question-4">
    <div class="question-form-header">
      <p class= "text-color-blue text-weight-semibold text-style-allcaps text-size-small">Question 4 / 10</p>
      <div class="question-form-title">
        <h2 class="heading-style-h4">What is your shift pattern?</h2>
        <p>When do you have custody of your children?</p>
      </div>
    </div>
    <%= simple_form_for @user_shift, html: { class: 'form' } do |f| %>
        <%= f.error_notification %>
          <div class="alternance-radio-wrap">
            <%= f.input :alternance, as: :radio_buttons, collection: [['Even weeks', 'even', {checked: true}],['Odd weeks', 'odd']], label: false, html: { class: 'radio-alternance' } %>
          </div>
          <div class="rythm-radio-wrap">
            <%= f.input :rythm, as: :radio_buttons, collection: [['Weeks', 'all week', 'From Monday to Sunday', {checked: true}],['Weekdays', 'week-days', 'From Monday to Friday'], ['Weekends',' week-ends', 'From Friday to Sunday']], label: false, html: { class: 'radio-rythm' },
              wrapper_html: {class: "rythm_wrapper"},
              input_html: {class: "rythm_radio"},
              label_method: ->(rythm){
                "<div>#{rythm.first} <p class='radio-description'>#{rythm[2]}</p> </div>".html_safe
              }

            %>
          </div>
        <%= f.submit "Next", class: "form-next-button-step4" %>
    <% end %>
    <%= link_to "Previous", new_user_intake_personal_information_path, :class => "form-previous-button button-secondary" %>
  </div>
</div>
