<div class="form-slide">
  <div class="question-form-wrap-step8 question-4">
    <div class="question-form-header">
      <p class= "text-color-blue text-weight-semibold text-style-allcaps text-size-small">Question 9 / 10</p>
      <div class="question-form-title">
        <h2 class="heading-style-h4">How would you describe yourself?</h2>
        <p>Rank each field from 1 to 3</p>
      </div>
    </div>
    <%= simple_form_for @user_personality, data: { turbo: false }   do |f| %>
      <div class="ranges-wrap">
        <div class="range-input-wrap">
          <p>Relax</p>
          <%= f.input :cleanliness, as: :range, input_html: { min: 1, max: 3, step: 1 }, label: false, class:"input-range" %>
          <p>Maniac</p>
        </div>
        <div class="range-input-wrap">
          <p>Indoor person</p>
          <%= f.input :lifestyle, as: :range, input_html: { min: 1, max: 3, step: 1 }, label: false, class:"input-range" %>
          <p>Outdoor person</p>
        </div>
        <div class="range-input-wrap">
          <p>Possessive</p>
          <%= f.input :sharing, as: :range, input_html: { min: 1, max: 3, step: 1 }, label: false, class:"input-range" %>
          <p>Love to share</p>
        </div>
        <div class="range-input-wrap">
          <p>Take away food</p>
          <%= f.input :cooking, as: :range, input_html: { min: 1, max: 3, step: 1 }, label: false, class:"input-range" %>
          <p>Homemade food</p>
        </div>
        <div class="range-input-wrap">
          <p>I pack light</p>
          <%= f.input :storage, as: :range, input_html: { min: 1, max: 3, step: 1 }, label: false, class:"input-range" %>
          <p>I store a lot</p>
        </div>
      </div>
      <div class="position-between-step9">
        <%= link_to "Previous", new_flat_perk_path, :class => "form-previous-button-step8 button-secondary" %>
        <%= f.submit "Next", class: "form-next-button-step8" %>
      </div>
    <% end %>
  </div>


  </div>
</div>
